.container {
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
}
.container a {
  font-size: 26px;
}
.login-form {
  width: 300px;
  margin: 100px auto 0;
}
.login-form button {
  width: 100%;
}
